<div class="day_forecast_wrapper">
    <h3 class="day_forecast__header">{{date}}</h3>
    {{#each parts}}
        <div class="day_forecast__row" style="background-color: {{getBackgroundColor temp}};">
            <div class="day_forecast__row_label left">{{timeOfDay}}</div>
            <div class="day_forecast__row_item">
                <img class="row_item__weather_icon left" src="http://ekb.shri14.ru/icons/{{weatherIcon}}.svg"/>
                <span class="row_item__temp">{{tempMin}}&nbsp;&nbsp;&nbsp;{{tempMax}}</span>
                <ul class="row_item__details">
                    <li class="details__item_head">{{weather}}</li>
                    <li class="details__item">Ветер: <span class="wind_icon wind_icon_{{wind_direction}}"></span>&nbsp;{{wind}}, {{wind_speed}}&nbsp;м/с</li>
                    <li class="details__item">Влажность: {{humidity}}%</li>
                    <li class="details__item">Давление: {{pressure}}&nbsp;мм рт.ст.</li>
                </ul>
            </div>
        </div>
    {{/each}}
</div>